@model IEnumerable<DataBaseFirstDemo.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.cName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.pName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.oId }) |
            @Html.ActionLink("Details", "Details", new { id=item.oId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.oId })
        </td>
    </tr>
}

</table>
