@model IEnumerable<DBFirst_Layout_Routing.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PidNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PidNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Oid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Oid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Oid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
